<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="red lighten-3">
    <header>
      <% include ./partials/header %>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
